html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: 20px;
  margin-left: 30px;
}
.nav-logo a {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 0;
  z-index: 100;
}
.hamburger-menu .hamburger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-20px, 2px);
          transform: translate(-20px, 2px);
  margin: 8px;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.hamburger-menu .hamburger-btn .nav-line {
  width: 100%;
  height: 3px;
  background-color: rgb(65, 65, 65);
  border-radius: 2px;
}
.hamburger-menu .hamburger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamburger-menu .hamburger-list .ham-btn {
  text-decoration: none;
  font-size: 28px;
  margin: 28px 0;
  color: rgb(65, 65, 65);
}
.hamburger-menu .nonactive {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu {
  display: none;
  width: 50%;
  text-decoration: none;
  margin-right: 20px;
}
.nav-menu .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-size: 12px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu .nav-btn:hover {
  color: rgb(245, 245, 245);
  background-color: rgb(12, 20, 30);
}

.header {
  position: relative;
  width: 100%;
  height: 210px;
  background-image: url("/dist/img/stairs_s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 5, 20, 0.7);
  z-index: 0;
}
.header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: rgb(255, 255, 255);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.header .text p {
  font-size: 14px;
  z-index: 10;
  width: 70%;
}
.header .text h1 {
  font-size: 18px;
  z-index: 10;
  width: 70%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section h1 {
  font-size: 22px;
  margin: 22px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.about-us {
  height: 600px;
}
.about-us .about-us-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us .about-us-contain .image img {
  width: 100%;
}
.about-us .about-us-contain .text {
  margin: 10px 20px;
}
.about-us .about-us-contain .text p {
  margin-top: 10px;
  line-height: 28px;
  font-size: 14px;
}

.adventure-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  background-image: url("/dist/img/child_s.jpg");
  background-position: center;
  background-size: cover;
}
.adventure-section h1 {
  position: relative;
  padding: 20px 30px;
  font-size: 16px;
  color: aliceblue;
  z-index: 1;
  border: 2px solid aliceblue;
}
.adventure-section .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 23, 26, 0.583);
  z-index: 0;
}

.pOffers {
  text-align: center;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
}
.section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}
.section .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 280px;
  height: 210px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 12px grey;
          box-shadow: 0px 0px 12px grey;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.section .cards .card .title {
  margin-top: 10px;
  font-size: 16px;
}
.section .cards .card .price {
  margin: 4px 0;
  font-size: 18px;
  font-weight: 700;
}
.section .cards .card .options {
  text-align: left;
  list-style: none;
  font-size: 12px;
  line-height: 20px;
}
.section .cards .card .options .in i {
  color: green;
}
.section .cards .card .options .out {
  color: rgb(47, 47, 47);
}
.section .cards .card .btn {
  margin: 10px 0;
  padding: 6px 20px;
  font-size: 13px;
  font-weight: 700;
  color: rgb(108, 108, 108);
  border: transparent;
  background-color: transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section .cards .card .btn:hover {
  background-color: rgb(77, 160, 77);
  -webkit-box-shadow: 0px 0px 6px green;
          box-shadow: 0px 0px 6px green;
  color: aliceblue;
}
.section .cards .card:hover {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
.section .toOffers {
  text-decoration: none;
  color: rgba(20, 92, 0, 0.8666666667);
  font-size: 16px;
  margin: 14px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgba(20, 92, 0, 0.8666666667);
  padding: 8px 12px;
  border-radius: 4px;
}
.section .toOffers:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.section .offers-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .offers-cards .card {
  margin: 10px;
}
.section .offers-cards:last-child {
  margin-bottom: 20px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 400px;
  margin-top: 30px;
}
.contact-box .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-right: 6px;
}
.contact-box .contact-form p {
  margin-bottom: 10px;
}
.contact-box .contact-form label {
  margin-bottom: 4px;
}
.contact-box .contact-form .email {
  margin-top: 10px;
}
.contact-box .contact-form input {
  margin-bottom: 10px;
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid royalblue;
  border-radius: 5px;
}
.contact-box .contact-form textarea {
  height: 140px;
  max-height: 200px;
  width: 280px;
  padding: 4px 14px;
  font-size: 12px;
  border: 1px solid royalblue;
  border-radius: 5px;
}
.contact-box .contact-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 6px 12px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  background-color: royalblue;
  color: #e2e0e0;
}
.contact-box .contact-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
  margin-bottom: 20px;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(1.1) scaleY(1.6);
            transform: scaleX(1.1) scaleY(1.6);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(1.1) scaleY(1.6);
            transform: scaleX(1.1) scaleY(1.6);
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e2e0e0;
}
footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
footer .footer-menu .footer-logo {
  font-size: 26px;
  color: #4d4d4d;
  width: 50%;
  text-align: center;
  margin-bottom: 18px;
}
footer .footer-menu .footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
footer .footer-menu .footer-options .options-card {
  margin: 0 18px;
}
footer .footer-menu .footer-options .options-card .footer-list-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .footer-menu .footer-options .options-card .footer-list {
  line-height: 32px;
  list-style: none;
}
footer .footer-menu .footer-options .options-card .footer-list .footer-option a {
  color: #1e1e1e;
  text-decoration: none;
}
footer .footer-bottom-text {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid black;
  font-size: 12px;
}

@media (min-width: 567px) {
  html {
    scroll-padding-top: 40px;
  }
  .wrapper {
    width: 85%;
  }
  .navigation {
    height: 80px;
  }
  .nav-logo {
    font-size: 26px;
    margin-left: 0;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-decoration: none;
    margin-right: 0;
  }
  .nav-menu .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 16px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-menu .nav-btn:hover {
    color: rgb(245, 245, 245);
    background-color: rgb(12, 20, 30);
  }
  .header {
    height: 500px;
    background-image: url("/dist/img/stairs_b.jpg");
    background-position-y: 100%;
    background-attachment: fixed;
  }
  .header .text p {
    font-size: 20px;
  }
  .header .text h1 {
    font-size: 34px;
  }
  .section h1 {
    font-size: 32px;
    margin: 36px 0;
  }
  .about-us {
    height: 600px;
  }
  .about-us .about-us-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-us .about-us-contain .image {
    width: 50%;
  }
  .about-us .about-us-contain .image img {
    width: 100%;
  }
  .about-us .about-us-contain .text {
    width: 50%;
    margin-left: 20px;
  }
  .adventure-section {
    background-image: url("/dist/img/child_b.jpg");
    height: 300px;
  }
  .adventure-section h1 {
    padding: 20px 60px;
    font-size: 26px;
  }
  .section .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
  }
  .section .cards .card {
    margin: 10px;
    width: 200px;
    height: 300px;
  }
  .section .cards .card .title {
    font-size: 20px;
  }
  .section .cards .card .price {
    margin: 10px 0;
    font-size: 26px;
  }
  .section .cards .card .options {
    font-size: 14px;
    line-height: 22px;
  }
  .section .cards .card .btn {
    margin-top: 22px;
    padding: 8px 26px;
    font-size: 13px;
  }
  .section .toOffers {
    font-size: 14px;
    margin-top: 10px;
  }
  .section .offers-cards .card {
    margin: 10px;
  }
  .contact-box {
    margin-top: 50px;
  }
  .contact-box .contact-form {
    font-size: 18px;
  }
  .contact-box .contact-form p {
    margin-bottom: 18px;
  }
  .contact-box .contact-form label {
    margin-bottom: 6px;
  }
  .contact-box .contact-form .email {
    margin-top: 12px;
  }
  .contact-box .contact-form input {
    padding: 8px 22px;
    font-size: 14px;
  }
  .contact-box .contact-form textarea {
    width: 300px;
    max-width: 500px;
    padding: 8px 22px;
    font-size: 14px;
  }
  .contact-box .contact-map {
    width: 50%;
  }
  footer .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 200px;
    margin-top: 20px;
  }
  footer .footer-menu .footer-logo {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    font-size: 30px;
  }
  footer .footer-menu .footer-options .options-card {
    margin: 0 14px;
  }
  footer .footer-menu .footer-options .options-card .footer-list-title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 100px;
  }
  .wrapper {
    width: 70%;
  }
  .navigation {
    height: 100px;
  }
  .nav-logo {
    font-size: 26px;
    margin-left: 0;
  }
  .header {
    height: 500px;
    background-image: url("/dist/img/stairs_b.jpg");
    background-position-y: 100%;
    background-attachment: fixed;
  }
  .header .text p {
    font-size: 20px;
  }
  .header .text h1 {
    font-size: 38px;
  }
  .section h1 {
    font-size: 32px;
    margin: 56px 0;
  }
  .about-us .about-us-contain .text {
    margin-left: 40px;
  }
  .adventure-section h1 {
    font-size: 32px;
  }
  .adventure-section h1::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: -2px;
    top: -2px;
    border: 2px solid aliceblue;
    z-index: 1;
    -webkit-animation: pulse 1.4s ease-in infinite;
            animation: pulse 1.4s ease-in infinite;
  }
  .section .cards {
    margin-top: 70px;
  }
  .section .cards .card {
    margin: 30px;
  }
  .section .toOffers {
    font-size: 18px;
    margin-top: 20px;
  }
  .section .offers-cards .card {
    margin: 30px;
  }
  .contact-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
  }
  .contact-box .contact-form {
    width: 50%;
  }
  footer .footer-menu .footer-logo {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    font-size: 40px;
  }
  footer .footer-menu .footer-options .options-card {
    margin: 0 24px;
  }
}
@media (min-width: 992px) {
  .contact-box .contact-form p {
    margin-bottom: 16px;
  }
  .contact-box .contact-form label {
    margin-bottom: 6px;
  }
  .contact-box .contact-form .email {
    margin-top: 12px;
  }
  .contact-box .contact-form input {
    padding: 8px 22px;
    font-size: 14px;
  }
  .contact-box .contact-form textarea {
    width: 300px;
    max-width: 500px;
    padding: 8px 22px;
    font-size: 14px;
  }
  .contact-box .contact-map {
    width: 50%;
  }
  footer .footer-menu {
    height: 300px;
  }
  footer .footer-menu .footer-logo {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    font-size: 60px;
  }
  footer .footer-menu .footer-options .options-card {
    margin: 0 35px;
  }
}/*# sourceMappingURL=main.css.map */