* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}

.img-box {
	overflow: hidden;
}

img {
	transition: transform 0.4s;
}
.zoom-img {
	cursor: zoom-in;
	transform: scale(2);
}
