@import 'colors.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
}

.wrapper {
	display: flex;
	width: 70%;
	height: 100px;
	align-items: center;

	.main {
		width: 50%;
		font-size: 26px;
		a {
			color: $nav-color;
			text-decoration: none;
		}
	}

	.menu {
		display: flex;
		width: 50%;
		justify-content: space-around;
		text-decoration: none;
		a {
			text-decoration: none;
			color: $nav-color;
			font-size: 16px;
		}
	}
}

.header {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url('/dist/img/stairs_b.jpg');
	background-size: cover;
	background-position-y: 150%;
	background-attachment: fixed;
	.shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 26, 0.5);
		z-index: 0;
	}
	.text {
		display: flex;
		height: 100%;
		color: white;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			z-index: 10;
			width: 70%;
		}
		h1 {
			z-index: 10;
			width: 70%;
		}
	}
}

.section {
	display: flex;
	flex-direction: column;
	// align-items: center;

	h1 {
		margin: 56px 0;
		font-weight: 400;
		text-transform: uppercase;
	}
}

.about-us {
	height: 600px;

	.about-us-contain {
		display: flex;
		flex-direction: row;
		// justify-content: center;

		.image {
			// display: flex;
			// align-items: center;
			// justify-content: center;
			width: 50%;

			img {
				width: 100%;
			}
		}

		.text {
			width: 50%;
			margin-left: 40px;

			p {
				margin-top: 10px;
				line-height: 28px;
				font-size: 14px;
			}
		}
	}
}

.adventure-section {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 300px;
	background-image: url('/dist/img/child_b.jpg');
	background-position: center;
	background-size: cover;
	// background-attachment:fixed;

	h1 {
		padding: 20px 60px;
		color: aliceblue;
		border: 4px solid aliceblue;
		z-index: 1;
		transition: padding 0.3s;
	}

	h1:hover {
		padding: 30px 80px;
	}
	.shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 23, 26, 0.583);
		z-index: 0;
	}
}
