* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(to bottom, #377526, #103403);
}

h1 {
	text-align: center;
	margin: 1em 0 2em;
	color: #222;
	text-transform: uppercase;
}

.wrapper {
	padding: 2em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2em 0;
	padding: 0.9em;
	width: 1200px;
	height: 200px;
	border-right: 8px;
	background-color: #eee;
}

.present {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-size: 3rem;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid black;
	transition: background-color 0.3;
	cursor: grab;
}

.present:hover {
	background-color: #eee;
}

.present-disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.send-btn {
	display: block;
	margin: 0 auto;
	padding: 1em 3em;
	font-size: 1.4;
	background-color: #377526;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.send-btn:disabled {
	background-color: #ddde;
}

a {
	text-decoration: none;
	color: #000
	;
}
