* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--body-color-1: #c9d8cb;
	/* --body-color-2: #c9d8cb; */
	/* --body-color-3: #c9d8cb; */
	--font-color-1: #222;
	--body-color-dark: rgb(28, 31, 29);
	--nav-height: 58px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	color: var(--font-color-1);
}

.container {
	margin: 0 10px;
}

.hide {
	display: none;
}

.navigation {
	position: fixed;
	align-items: center;
	width: 100%;
	/* height: auto; */
	height: var(--nav-height);
	background-color: var(--body-color-1);
}

.nav-header {
	font-family: 'Cormorant Garamond', serif;
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 17px;
	transform: translateX(-50%) translateY(-50%);
	letter-spacing: 4px;
	color: var(--font-color-1);
	z-index: 100;
	font-weight: 600;
}

.burger-menu {
	position: absolute;
	margin: 14px 0 0 24px;
	width: 32px;
	cursor: pointer;
	z-index: 100;
	transition: all 0.2s;
}

.burger-menu:hover {
	filter: drop-shadow(0 0 2px #111);
}

.burger-menu div {
	background-color: var(--body-color-dark);
	content: '';
	display: block;
	height: 2.2px;
	border-radius: 3px;
	margin: 5.9px 0;
	transition: 0.3s;
}

.bar-a-1 {
	transform: translateY(10px) rotate(-135deg) scale(0.9);
}
.bar-a-3 {
	transform: translateY(-9px) rotate(315deg) scale(0.9);
}
.bar-a-2 {
	animation: crossing 0.6s forwards;
}

.side-icons {
	position: absolute;
	right: 0;
	font-size: 16px;
	text-decoration: none;
	margin: 14px 0 0 2px;
	z-index: 100;
}

.side-icon {
	padding: 10px 12px;
	color: #222;
	transition: all 0.2s;
}

.side-icon:hover {
	text-shadow: 0 0 3px #111;
}
.sidebar {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--body-color-1);
	transform: translateY(-100vh);
	z-index: 99;
	transition: all 0.3s;
}

.sidebar-show {
	transform: translateY(0vh);
}
.sidebar-list {
	margin-top: 100px;
}

.sidebar-item {
	list-style: none;
	margin-left: 30px;
	margin-bottom: 32px;
	padding: 12px 0;
	text-transform: uppercase;
	cursor: pointer;
	width: 50%;
	letter-spacing: 2px;
	transition: transform 0.2s;
}

.sidebar-item:hover {
	transform: translateX(8px);
}

main {
	margin-top: var(--nav-height);
}

.wallpaper-section {
	display: flex;
	flex-direction: column;
	background-color: var(--body-color-1);
}
.wallpaper-section-heading-imgs {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	/* transform: translateX(-120%); */
}

.wallpaper-section-heading-imgs img {
	width: 100%;
	height: auto;
	padding: 10% 0 10% 20%;
}
.wallpaper-section-heading {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.wallpaper-section-heading h5 {
	min-width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-left: 10px;
}

.wallpaper-section-title h3 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-size: 28px;
	margin: 14px 0;
}

.wallpaper-section-text p {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
	margin-bottom: 30px;
}

.collection-btn {
	font-family: 'Raleway', sans-serif;
	width: 230px;
	text-align: center;
	color: var(--body-color-1);
	background-color: var(--body-color-dark);
	text-transform: uppercase;
	padding: 8px 22px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 6px 2px #444;
}

.wallpaper-section-carousel-btns {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.wallpaper-section-carousel-btn {
	right: 0;
	margin: 12px 8px;
	border: 1px solid #222;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: all 0.2s;
	cursor: pointer;
}

.active-carousel-btn {
	box-shadow: 0 0 6px 2px #444;
}

.wallpaper-section-images {
	margin-top: 30px;
}
.wallpaper-section-images img {
	width: 100%;
	height: auto;
}

@keyframes crossing {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(1.4);
	}
	100% {
		transform: scaleX(0);
	}
}
